<div>

  <!-- Padding-->
  <div class="pt-3 pl-3 ">
    <h3>Resultados de su búsqueda:</h3>
  </div>

  <!--Cards-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4" ng-repeat="x in books | limitTo: 3">
        <div class="d-flex flex-row  ">
          <figure class="snip1527" height="100%" width="100%">
            <img  ng-src="{{x.rutaPagina}}"  />
            <figcaption>
              <!--<div class="date"><span class="day">28</span><span class="month">Oct</span></div> -->
              <h3>{{x.titulo}}</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
        </div>
      </div>

    </div>

  </div>

</div>