
<!-- Padding-->
<div class="pt-3 pl-3 text-center">
  <h3>selecciona tus 5 libros favoritos</h3>
 
  {{"Prueba" + " de Angular"}}
</div>

<!--Cards-->
<div class="d-flex flex-row justify-content-center ">
    
  <figure class="snip1527">
    <div class="image"><img src="lib/img/libros/adviento.jpg" alt="pr-sample25" /></div>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="lib/img/libros/libro_selva.jpg" alt="pr-sample25" /></div>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="lib/img/libros/el principito.jpg" alt="pr-sample25" /></div>
  </figure>
   <figure class="snip1527">
    <div class="image"><img src="lib/img/libros/bob_esponja.JPG" alt="pr-sample25" /></div>
  </figure>
</div>

<div class="d-flex flex-row justify-content-center ">
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/chistes.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/pedro_melenas.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/adviento.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
        <div class="image"><img src="lib/img/libros/mi_cuerpo.jpg" alt="pr-sample25" /></div>
    </figure>
  </div>

  <div class="d-flex flex-row justify-content-center ">
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/escuela.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/chistes.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/pedro_melenas.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
        <div class="image"><img src="lib/img/libros/papelucho.jpg" alt="pr-sample25" /></div>
    </figure>
  </div>
  <div class="d-flex flex-row justify-content-center ">
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/el principito.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/latitud_sur.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/papelucho.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
        <div class="image"><img src="lib/img/libros/chistes.jpg" alt="pr-sample25" /></div>
    </figure>
  </div>
  <div class="d-flex flex-row justify-content-center ">
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/bob_esponja.JPG" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/latitud_sur.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
      <div class="image"><img src="lib/img/libros/el principito.jpg" alt="pr-sample25" /></div>
    </figure>
    <figure class="snip1527">
        <div class="image"><img src="lib/img/libros/adviento.jpg" alt="pr-sample25" /></div>
    </figure>
  </div>

<a class="btn btn-danger btn-lg" ng-click="cambioVista('figura3')">¡Listo!</a>
