<nav class="navbar navbar-dark bg-dark">
  <!--NavBar-->
  
  <div>
    <a href="#" ng-click="cambioVista('figura2')">
       
      <h4>Biblioteca Digital</h4>
    </a>
  </div>
  <div class="float-lg-right">
    <form class="form-inline my-2 my-lg-0">
      <!--ngModel permite transmitir datos al controller-->
      <input class="form-control mr-sm-2" ng-model="valueSearch" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0" type="submit" ng-click="search('figura5')">Search</button>
    </form>
  </div>
</nav>