<nav class="navbar navbar-dark bg-dark">
  <!--NavBar-->
  <div class="float-lg-left">
      <a href="#" ng-click="cambioVista('figura2')"><button type="button" class="btn btn-dark">Back</button></a>
  </div>
  <div class="text-white">
      <h4>Biblioteca Digital</h4>
  </div>
  <div class="float-lg-right">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0" type="submit" ng-click="cambioVista('figura5')">Search</button>
    </form>
  </div>
</nav>
