
  
  <body>
   
    <!-- Contenido -->
    <div class="container text-center">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <img src="lib/img/iconos/imglogo.png" alt="" title="imglogo"/>
        <h1 class="display-3">¿Sabes leer?</h1>
        <p class="lead">Desactiva el audio presionando aquí</p>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
            <label class="custom-control-label" for="customSwitch1">Audio</label>
          </div>
        </div>
        <button type="button" class="btn btn-danger btn-lg" ng-click="cambioVista('screen2')">¡Comenzar!</button>
      </header>
    </div>
  </body>
